<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Public</title>
  </head>
  <body>
    <h1>Esta es la view PRIVADA</h1>
    <a href="login.ejs">Logueate</a>
    <a href="register.ejs">Registrate</a>
  </body>
</html>
